@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>&nbsp;</p>
    <h1 class="display-4">Sistema - Gestão de Caçambas</h1>
    <h5>Ao acessar o sistema, cada usuário terá sua visão do mesmo, de acordo com sua permissão.</h5>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="container-fluid" style="text-align:center">


        <div class="row">
            <div class="col-md-4">
                <div class="card mb-2 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Sou Transportador</h4>
                    </div>
                    <div class="card-body">

                        <a href="~/Identity/Account/Login">  <button type="button" class="btn btn-lg btn-block btn-primary">Acessar</button> </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-2 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Sou Destinatário</h4>
                    </div>
                    <div class="card-body">
                        <a href="~/Identity/Account/Login">  <button type="button" class="btn btn-lg btn-block btn-primary">Acessar</button> </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-2 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Outros</h4>
                    </div>
                    <div class="card-body">
                        <a href="~/Identity/Account/Login">  <button type="button" class="btn btn-lg btn-block btn-primary">Acessar</button> </a>
                    </div>
                </div>
            </div>
    </div>

</div>
